{% extends "base.html" %} {% block title %} Studio Moo Moo {% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<body>
    <main class="flex-shrink-0 main-bg">
        {% if user.is_authenticated %}
        <p class="text-end m-3">You are logged in as: {{ user }}</p>
        {% else %}
        <p class="text-end m-3">You are not logged in</p>
        {% endif %}
    <div>
        <h1>Your booking is Successful</h1>
        <div class="col-md-4 mb-4 mt-3">
          <div>
            {% if user.is_authenticated %}
            <form id="bookingForm" method="post"
              style="margin-top: 1.3em;">
              {% csrf_token %}
              <h3> Booking Successfull</h3>
              <h4>{{ booking.artist_name }} -- {{ booking.date }}</h4>
              <a href="{% url 'booking:my_bookings'%}"
                class="btn btn-lg btn-light">Back to Bookings</a>              
            </form>
            {% else %}
            <p>Log in to make a booking</p>
            {% endif %}
          </div>
        </div>
    </div>

</body>
</html>
{% endblock %}
