{% extends "base.html" %} {% block title %} Studio Moo Moo {% endblock %}
{% block content %}

<body>
    <main class="flex-shrink-0 main-bg">
        {% if user.is_authenticated %}
        <p class="text-end m-3">You are logged in as: {{ user }}</p>
        {% else %}
        <p class="text-end m-3">You are not logged in</p>
        {% endif %}
    <div>
        <h1>Make a new Booking</h1>
        <!-- temp spacing -->
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
    </div>

    <div>
        <h1>Booking list for {{Booking.Artist_Name}}</h1>
        {% for Booking in object_list %}
        <p>Artist Name: {{Booking.Artist_Name}}</p>
        <p>Start Time: {{Booking.start_time}}</p>
        <p>End Time: {{Booking.end_time}}</p>
        <p>Requirements: {{Booking.BookingRequirements}}</p>
        {% endfor %}
    </div>
</body>

</html>



{% endblock %}