{% extends "base.html" %} {% block title %} Studio Moo Moo - Booking {% endblock %}
{% block content %}
<div class="container">
  <div class="text-center mt-5">
    <h1>Studio Booking</h1>
    <hr>
    <p class="lead">Normal studio office hours are below. <br> Sessions usually run beyond these times with prior
      arrangement. <br> If you need any time outside of these hours, please get in touch.</p>
    <div class="row">
      <div class="col-sm-6 mx-auto">
        <div class="card">
          <h5 class="card-title">Opening Hours</h5>
          <p class="card-text">Mon - 10:00am - 18:00pm</p>
          <p class="card-text">Tue - 10:00am - 18:00pm</p>
          <p class="card-text">Wed - 10:00am - 18:00pm</p>
          <p class="card-text">Thu - 10:00am - 18:00pm</p>
          <p class="card-text">Fri - 10:00am - 18:00pm</p>
        </div>
      </div>
    </div>
    <p class="lead mt-4">Please register and log to our Client portal in order to see studio availability and make a booking.
    </p>
    <button type="button" class="btn btn-light btn-lg">Studio Moo Moo Client Portal</button>
    <hr>
  </div>
</div>

{% endblock %}