{% extends "base.html" %} {% block title %} Studio Moo Moo {% endblock %}
{% block content %}

<body>
    <main class="flex-shrink-0 main-bg">
        {% if user.is_authenticated %}
        <p class="text-end m-3">You are logged in as: {{ user }}</p>
        {% else %}
        <p class="text-end m-3">You are not logged in</p>
        {% endif %}
    <div>
        <h1>Make a new Booking</h1>
        <!-- temp spacing -->
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
    </div>

    <div>
        <h1>Booking list for {{ user }}</h1>
        {% for bookings in bookings %}
        <p>Artist Name: {{ bookings.Artist_Name }}</p>
        <p>Start Time: {{ bookings.start_time }}</p>
        <p>End Time: {{ bookings.end_time }}</p>
        <p>Requirements: {{ bookings.BookingRequirements }}</p>
        {% endfor %}
    </div>
</body>

</html>



{% endblock %}