{% extends "base.html" %} {% block title %} Studio Moo Moo {% endblock %}
{% block content %}

<body>
    <main class="flex-shrink-0 main-bg">
        {% if user.is_authenticated %}
        <p class="text-end m-3">You are logged in as: {{ user }}</p>
        {% else %}
        <p class="text-end m-3">You are not logged in</p>
        {% endif %}
    <div>
        <h1>Make a new Booking</h1>
        <!-- temp spacing -->
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
    </div>

    <div>
        <h1>Booking list for {{ user }}</h1>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Artist Name</th>
            <th scope="col">Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Requirements</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        {% for bookings in bookings %}
        <tbody>
          <tr>
            <th scope="row">{{ bookings.Artist_Name }}</th>
            <td>{{ bookings.date }}</td>
            <td>{{ bookings.start_time }}</td>
            <td>{{ bookings.end_time }}</td>
            <td>{{ bookings.BookingRequirements }}</td>
            <td><button type="button" class="btn btn-light">Edit</button></td>
            <td><button type="button" class="btn btn-light">Delete</button></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</body>

</html>



{% endblock %}