/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    /* generic project styles */
    color: #ffffff;
    font-family: 'roboto', Lucida Sans, monospace;
}

h1,
h2 {
    font-family: 'roboto', 'Lucida Sans';
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    font-family: 'roboto', 'Lucida Sans';
    font-size: 20px;
    color: #fafafa;
}

hr {
    border: 1px solid white;
}

.top-buffer { 
    margin-top: 114px;
}


/* navbar */
.navbar {
    background-color: black;
}
/* change the background color */
.navbar-custom {
    background-color: black;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
/* change size of nav items text */
.nav-link {
    font-size: 20px;
}



.card {
    background-color: white;
    color: #000000;    
}

.table {
    font-family: 'roboto', 'Lucida Sans';
    font-size: 20px;
    color: #fafafa;
}

.hero {

    background-size: cover;
    position: relative;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
  }

/* Center logo on the hero image */
.centerLogo {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%)
}

.callToAction {
    position: absolute;
    top: 120%; left: 50%;
    transform: translate(-50%, -50%)
}

/* Fix left and right scroll on home page */
.row {
    margin-left: 0px;
    margin-right: 0px;
}

.heroLogo {

}

.introText {

}

#gallery-photos {
    margin: 0px;
}

footer {
    background-color: #333;
    color:#fff;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#make_booking {
    margin-bottom: 60px;
}

/* Moves content up from behind footer */
  .clear { 
    clear: both; 
    height: 120px; 
}

#equipment-items {
    background: url('../images/gallery/stone.webp') no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
}
#equipment-items div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 25px;
    flex-basis: 200px;
    flex-grow: 1;
    /*creates a grid around the equipment list*/
    border: 2px solid #9EAFBD;

}

.alert {
    background-color: green;
}
/* Media Queries */

@media only screen and (max-width: 620px) {
    #make_booking {
        width: 100%;
        font-size: small;
    }

    .callToAction {
        position: absolute;
        top: 130%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
  }

