{% load static %}

{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {% block title %}
    Studio Moo Moo
    {% endblock %}
  </title>
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    rel="stylesheet" />
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
  <nav class="navbar navbar-custom navbar-expand-lg navbar-light bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'booking:home' %}">
    <img src="{% static 'images/SMM_logotext_WHT_THK_TRANS.png' %}" width="200" id="image-logo" alt="Studio Moo Moo Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'booking:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Equipment</a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'booking:my_bookings' %}">Bookings <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
            href="{% url 'account_logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
            href="{% url 'account_login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
    <div class="container top-buffer">
      <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                </div>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
      
    {% block content %}
<!-- Each Page Content -->
    {% endblock content %}

      <footer class="bg-body-tertiary text-center container-fluid">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
            data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #3b5998;"
              href="https://www.facebook.com/"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #55acee;"
              href=https://www.x.com/
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Instagram -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #ac2bac;"
              href="https://www.instagram.com/studio_moomoo/"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright: Studio Moo Moo
        </div>
        <!-- Copyright -->
      </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <!--Font Awesome Kit-->
  <script src="https://kit.fontawesome.com/1e7673fa14.js" crossorigin="anonymous"></script>
  <script>$("#copyright").text(new Date().getFullYear());</script>

  {% block extras %}
  {% endblock extras %}
</body>



</html>