{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}

  <main role="main" class="container text-center">
    <div class="starter-template">
      <h1>Studio Booking</h1>
      <hr>
      <p class="lead">Normal studio office hours are below. <br> Sessions usually run beyond these times with prior arrangement. <br> If you need any time outside of these hours, please get in touch.</p>
    </div>
    <div>
      <p>Mon - 10:00am - 18:00pm</p>
      <p>Mon - 10:00am - 18:00pm</p>
      <p>Mon - 10:00am - 18:00pm</p>
      <p>Mon - 10:00am - 18:00pm</p>
      <p>Mon - 10:00am - 18:00pm</p
    </div>
  </main>
{% endblock %}