{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
<div class="container">
  <div class="text-center mt-5">
    <h1>Studio Booking</h1>
    <hr>
    <p class="lead">Normal studio office hours are below. <br> Sessions usually run beyond these times with prior arrangement. <br> If you need any time outside of these hours, please get in touch.</p>
    <div>
      <p>Mon - 10:00am - 18:00pm</p>
      <p>Tue - 10:00am - 18:00pm</p>
      <p>Wed - 10:00am - 18:00pm</p>
      <p>Thu - 10:00am - 18:00pm</p>
      <p>Fri - 10:00am - 18:00pm</p>
    </div>
    <p class="lead">Please register and log to our Client portal in order to see studio availability and make a booking.</p>
    <button type="button" class="btn btn-light btn-lg">Studio Moo Moo Client Portal</button>
    <hr>
  </div>
</div>

{% endblock %}