{% extends "base.html" %} {% block title %} Studio Moo Moo {% endblock %}
{% load static %}

{% block content %}
<!-- Hero image with welcome text -->

<div class="hero"> 
    <div class="container">     
      <div class="hero-content"> 
        <div class="row"> 
          <div class="col-md-12"> 
            <h1>Boutique Recording facility in the northwest of ireland</h1> 
          </div>  
          <div class="col-md-6"> 
            <p>Boutique Recording facility in the northwest of ireland</p> 
          </div>  
          <div class="col-md-6"> 
            <p>Bootstrap Hero Image Bootstrap Hero Image Bootstrap Hero Image Bootstrap Hero Image Bootstrap Hero Image Bootstrap Hero Image Bootstrap Hero Image Bootstrap Hero Image Bootstrap Hero Image Bootstrap Hero Image</p> 
          </div>
        </div> 
      </div>
    </div> 
  </div>
<div class="row hero-img mt-2 mb-lg-4">
    <div class="col-md-6 my-5 mx-auto">
        <div class="w-100 px-5 py-4 members rounded text-center mt-5">
            <h2>Boutique Recording facility in the northwest of ireland</h2>
            <p>
                Welcome to Studio Moo Moo, an idyllic recording haven in rural north-west Ireland, just a short drive from Dublin and Knock international Airport. This 16-track studio, a labour of love by creator Mat Warren, offers a retreat for intimate songwriting and recording. Its one-room design seamlessly integrates live tracking with fostering a fluid creative process. Meticulous attention to lighting, decor, and top-notch acoustic design creates a cozy and inspiring atmosphere. Whether you're a solo artist or a group, Studio Moo Moo provides the perfect backdrop for your musical journey in the serene landscapes of rural Ireland.
            </p>
            <a href="{% url 'booking:booking' %}" class="btn btn-light btn-lg">Click to make booking</a>
        </div>
    </div>
</div>

{% endblock %}